commonmark==0.9.1
bs4==0.0.2
click==8.1.7
urllib3==2.2.1
packaging==24.0
typing-extensions==4.10.0
hypothesmith==0.3.3
black==24.3.0
hypothesis==6.100.0
wcwidth==0.2.13
platformdirs==4.2.0
mypy-extensions==1.0.0
pathspec==0.12.1
colorama==0.4.6
tokenize-rt==5.2.0
ipython==8.23.0
aiohttp==3.9.3
pgen2==0.1.1
pytest==8.1.1
foo==.1
a==1.0
b==1.0.0
Library==0.0.0
hello==1.0
match==0.3.2
